:root{
    --white: white;
    --gray-100: #f1f1f1;
    --gray-200: #555 ;
    --gray-500: rgb(45, 45, 55);
    --mint-50: rgb(185, 219, 234);
    --mint-100: rgb(64, 105, 124);
    --mint-200: rgb(48, 78, 93);
    --mint-300: rgb(39, 61, 73);
    }

#home-entryheader{
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    height: 24rem;
}

#home-entryheader #headertext{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2rem;
    padding-left: 4rem;
}

#home-entryheader #first{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#home-entryheader #second{
    color: rgba(64, 105, 124, 1);
    margin-bottom: 0;
    font-size: 2rem;
    margin-top: 0.5rem;
}

#home-entryheader #third{
    margin-bottom: 1rem;
    line-height: 1;
}
#home-entryheader #third p{
    color: rgba(81, 145, 174, 0.8);
    font-weight: bolder;
    margin: 0;
    font-size: 2.8rem;
}

#home-entryheader #third #point{
    font-size: 1rem;
    color: white;
}

#home-entryheader #typingtxt{
    font-size: 1.5rem;
    /*text-transform: uppercase;*/
}

#home-entryheader img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    height: 100%;
    width: auto;

    mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1.0) 21%, rgba(0, 0, 0, 1.0) 70%, transparent 100%);
}


#shorts{
    background-color: rgba(54, 90, 106, 1);
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.shortsbox{
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    align-items: center;
}

.shortsbox img{
    width: 2.4rem;
    height: 2.4rem;
    opacity: 0.3;
} 

.shortsbox-description{
    flex-direction: column;
    align-items: center;
    margin-left: 0.8rem;
    padding-left: 0.5rem;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    height: 4.6rem;
}


#shorts .numbers p{
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
}

#shorts .numbers-txt{
    margin-top: 0.2rem;
    line-height: 1.2;
    flex-direction: column;
    font-size: 1rem;
}

#shorts .numbers-txt p{
    margin: 0;
    opacity: 0.7;
}

#shorts #box-first{
    margin-left: 0;
}


@media (max-width: 772px) {
    #shorts{
        display: inline-block;
        width: 100%;
        position: relative;
    }
}

.shortsbox-skill-wrapper{
    margin-left: 2.3rem;
}

#shortsbox-skill-wrapper-first{
    margin: 0;
}

.shortsbox-skill-wrapper img{
    width: 2rem;
    height: 2rem;
}

#home-content{
    background-color: var(--gray-500);
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#home-content h2{
    color: rgb(204, 204, 210);
}

#home-content p{
    color: rgb(204, 204, 210);
}

#home-content .content-row{
    width: auto;
    height: auto;
}

#home-content .block{
    display: block;
    width: 100%;
}

#aboutme{
    margin-right: 3rem;
    float: left;
    padding: 1rem;
}

#aboutme:hover{
    border-radius: 10px;
    background-color: rgba(54, 90, 106, 0.2);
}


#myprojects h2{
    color: rgb(204, 204, 210);
}

#myprojects .description{
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
    color: rgb(204, 204, 210);
}

@media (max-width: 689px) {
    .content-block{
     width: 100%;
    }
}

#myprojects{
    width: 100%;
    margin-right: 3rem;
    float: left;
    padding: 1rem;
}

#myprojects .slider-responsive{
    position: relative; 
    display: block;
}

#myprojects  .slider-item {    
    height: 15rem;
    position: block;
}

#myprojects .slider-item .overlay-content{
    display: none;
}

#myprojects .slider-item:hover .overlay-content{
    display: block;
    background: linear-gradient(to bottom,rgb(60, 60, 74), var(--mint-100));
    border-radius: 15px;
    padding: 0.5rem;
    height: 14rem;
    position: relative;
}

#myprojects .slider-item .overlay-img{
    width: 100%;
    height: 100%;
}

#myprojects .slider-item .overlay-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#myprojects .slider-item:hover .overlay-img{
    display: none;
}


#myprojects .slider-item .overlay-content img{
    width: 100%;
    height: 140px;
    border-radius: 5px;
}

#myprojects .slider-item .overlay-content h3{
    margin-top: 1.5rem;
    color:rgb(204, 204, 210);
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

#myprojects .slider-item .overlay-content p{
    font-size: 0.8rem;
    color:rgb(204, 204, 210);
    height: 1.5rem;
}

#myprojects .slider-item .overlay-content button{
    position: absolute;
    width: auto;
    bottom: 0;
    background-color: transparent;
    padding: 0.3rem;
    padding-left: 0;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
    cursor: pointer;
}

.button-project:hover{
    background-color: white;
    color: rgba(54, 90, 106, 1);
}

.multi-slide-carousel {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    flex: 0 0 33.33%; /* Ändere dies entsprechend der Anzahl der Slides, die du gleichzeitig anzeigen möchtest */
    padding: 0 10px; /* Optional: Füge Abstand zwischen den Slides hinzu */
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }

  #home-content-projects{
    background-color: rgb(45, 45, 55, 1);
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #projectblock{
    background-color: rgba(23, 24, 26, 1);
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
  }

  #projectblock #projectheader{
    display: flex;
    justify-content: center;
  }

  #projectblock #projectheader #projectnav{
    display: flex;
    justify-content: space-between;
    width: 20rem;
  }

  #projectblock #projectheader #projectnav p{
    color: white;
  }

  #projectblock #projectheader #projectnav p:hover{
    color: rgb(210, 45, 147);
    text-decoration: underline;
  }

  #projectblock #list{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  #projectblock #list .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }

  #projectblock #list .row .project-wrapper-left{
    width: auto;
  }

  #projectblock #list .row .project-wrapper-right{
    padding-left: 3rem;
    width: auto;
  }

  #projectblock #list .row .project{
    width: 15rem;
    height: 15rem;
    display: flex;
    position: relative;
  }

  #projectblock #list .row .project .label{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.5rem; 
    left: 0%; 
    color: white;
    line-height: 0;
  }

  #projectblock #list .row .project img{
    width: 9rem;
    height: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
  }



  #projectblock #list .row .project .button-wrapper{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10.5rem; 
    left: 70%; 
  }

  #projectblock #list .row .project .button-wrapper .line-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #projectblock #list .row .project .button-wrapper .line-wrapper .line{
    background-color: white;
    height: 0.1rem;
    width: 1rem;
  }

  #projectblock #list .row .project .button-wrapper button{
    background-color: transparent;
    border: none;
    color: white;
    height: 2.2rem;
    width: 5rem;
    font-size: 0.8rem;
  }

  #projectblock #list .row .project .button-wrapper button:hover{
    font-weight: bold;
    font-size: 1rem;
    border: 0.2px solid rgb(210, 45, 147);
  }

