:root{
  --white: white;
  --gray-100: #f1f1f1;
  --gray-200: #555 ;
  }

.card-header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card-header h1{
  font-size: 2rem;
  margin: 0;
  line-height: 1;
}

.card-header .createdAt{
  font-size: 3rem;
}

.card-content{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-content img{
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
}

.card-content .row{
  display: flex;
  justify-content: space-between;
}

.card-content .box{
  border-radius: 0.5rem;
  background-color: rgba(54, 90, 106, 0.5);
  padding: 0.5rem;
  margin-top: 0.3rem;
  width: 50%;
}

.card-content .box.right{
  margin-left: 0.3rem;
}

.card-content .box h2{
  font-size: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.card-content .box p{
  font-size: 1.2rem;
  margin: 0;
}

.card-content .box .linkttxt{
  font-size: 1rem;
  margin: 0;
}

.card-content .box .skill-wrapper{
  position: relative;
  display: inline-block;
  background-color: rgb(204, 204, 210);
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.card-content .box .skill-wrapper img{
  width: 100%;
  height: 100%;
}

.card-content .box .skill-wrapper .skill-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0;
  line-height: 1;
}

.card-content .box .skill-wrapper:hover .skill-title{
  opacity: 1;
}

.card-content .box .skill-wrapper:hover img{
  opacity: 0;
}