.card-header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card-header h1{
  font-size: 2rem;
  margin: 0;
  line-height: 1;
}

.card-header .createdAt{
  font-size: 3rem;
}

.card-content p{
  font-size: 1.2rem;
}

.card-content img{
  width: 30%;
  height: auto;
}